body {
  font-family: 'Quattrocento', serif;
  margin: 25px;
}

.bounceInRight {
  opacity: 1;
  animation-name: bounceInRight;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.bounceInLeft {
  opacity: 1 !important;
  animation-name: bounceInLeft;
  animation-duration: 1s;
  animation-duration-animation-fill-mode: both;
}

.wrapper {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, 95vh);
  background: url(../img/background.png) top center no-repeat, linear-gradient(#e5edf7, #ddf6e0, #f9f4d6);
  background-size: cover;
  padding: 15px;
}

.wrapper .about {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.wrapper .about .a-first {
  z-index: 1;
  box-shadow: 0px 30px 40px -15px rgba(0, 0, 0, 0.5), 0px 0px 15px rgba(0, 0, 0, 0.2);
  background: url(../img/cosmin.jpg) center center no-repeat;
  background-size: cover;
  grid-row: 3 / span 8;
  grid-column: 3 / span 7;
}

.wrapper .about .a-second {
  z-index: 2;
  background: url(../img/name.png) center center no-repeat;
  background-size: contain;
  grid-row: 1 / span 5;
  grid-column: 5 / span 6;
  opacity: 0;
}

.wrapper .about .a-third {
  box-shadow: 0px 30px 40px -15px rgba(0, 0, 0, 0.5), 0px 0px 15px rgba(0, 0, 0, 0.2);
  z-index: 3;
  background: white;
  grid-row: 6 / span 4;
  grid-column: 8 / span 3;
  text-align: center;
  line-height: 1.5em;
  letter-spacing: 2px;
  margin: auto;
  opacity: 0;
}

.wrapper .about .a-third p {
  max-height: 100%;
}

.wrapper .about .a-third .about-header {
  font-weight: 600;
  color: #0078ff;
}

.wrapper .about .a-third .about-text {
  color: black;
}

.wrapper .portfolio {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.wrapper .portfolio .p-first {
  z-index: 1;
  box-shadow: 0px 30px 40px -15px rgba(0, 0, 0, 0.5), 0px 0px 15px rgba(0, 0, 0, 0.2);
  background: url(../img/blank1.jpg) center center no-repeat;
  background-size: center;
  grid-row: 3 / span 8;
  grid-column: 5 / span 7;
}

.wrapper .portfolio .p-first .fake-placeholder {
  padding: 10px;
  height: 95%;
  display: grid;
  grid-gap: 1em;
  grid-template-rows: 1fr 1fr 50px;
  grid-template-columns: repeat(2, 1fr);
}

.wrapper .portfolio .p-first .fake-placeholder .placeholder {
  background: #EEE;
}

.wrapper .portfolio .p-first .fake-placeholder .see-more {
  background: #EEE;
  grid-column: 1 / span 2;
}

.wrapper .portfolio .p-second {
  z-index: 10;
  background: url(../img/portfolio.png) center center no-repeat;
  background-size: contain;
  grid-row: 1 / span 4;
  grid-column: 7 / span 6;
}

.wrapper .portfolio .p-third {
  z-index: 2;
  grid-row: 4 / span 8;
  grid-column: 4 / span 7;
}

.wrapper .portfolio .p-third .catalog {
  padding: 10px;
  height: 95%;
  display: grid;
  grid-gap: 1em;
  grid-template-rows: repeat(2, 1fr) 50px;
  grid-template-columns: repeat(2, 1fr);
}

.wrapper .portfolio .p-third .catalog .p-one {
  opacity: 0;
  z-index: 4;
  box-shadow: 35px -25px 25px rgba(0, 0, 0, 0.3), 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  background: url(../img/neighbourhood.png) top center no-repeat;
  background-size: cover;
}

.wrapper .portfolio .p-third .catalog .p-one:hover {
  box-shadow: 30px -20px 20px rgba(0, 0, 0, 0.3), 0px 0px 25px rgba(0, 0, 0, 0.5);
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -o-transform: scale(1.03);
}

.wrapper .portfolio .p-third .catalog .p-one:active {
  transform: scale(0.97);
  -webkit-transform: scale(0.97);
  -moz-transform: scale(0.97);
  -o-transform: scale(0.97);
}

.wrapper .portfolio .p-third .catalog .p-two {
  opacity: 0;
  z-index: 4;
  box-shadow: 35px -25px 25px rgba(0, 0, 0, 0.3), 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  background: url(../img/memory.png) top center no-repeat;
  background-size: cover;
}

.wrapper .portfolio .p-third .catalog .p-two:hover {
  box-shadow: 30px -20px 20px rgba(0, 0, 0, 0.3), 0px 0px 25px rgba(0, 0, 0, 0.5);
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -o-transform: scale(1.03);
}

.wrapper .portfolio .p-third .catalog .p-two:active {
  transform: scale(0.97);
  -webkit-transform: scale(0.97);
  -moz-transform: scale(0.97);
  -o-transform: scale(0.97);
}

.wrapper .portfolio .p-third .catalog .p-three {
  opacity: 0;
  z-index: 3;
  box-shadow: 35px -25px 25px rgba(0, 0, 0, 0.3), 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  background: url(../img/arcade.png) top center no-repeat;
  background-size: cover;
}

.wrapper .portfolio .p-third .catalog .p-three:hover {
  box-shadow: 30px -20px 20px rgba(0, 0, 0, 0.3), 0px 0px 25px rgba(0, 0, 0, 0.5);
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -o-transform: scale(1.03);
}

.wrapper .portfolio .p-third .catalog .p-three:active {
  transform: scale(0.97);
  -webkit-transform: scale(0.97);
  -moz-transform: scale(0.97);
  -o-transform: scale(0.97);
}

.wrapper .portfolio .p-third .catalog .p-four {
  opacity: 0;
  z-index: 3;
  box-shadow: 35px -25px 25px rgba(0, 0, 0, 0.3), 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  background: url(../img/testing.png) left center no-repeat;
  background-size: cover;
}

.wrapper .portfolio .p-third .catalog .p-four:hover {
  box-shadow: 30px -20px 20px rgba(0, 0, 0, 0.3), 0px 0px 25px rgba(0, 0, 0, 0.5);
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -o-transform: scale(1.03);
}

.wrapper .portfolio .p-third .catalog .p-four:active {
  transform: scale(0.97);
  -webkit-transform: scale(0.97);
  -moz-transform: scale(0.97);
  -o-transform: scale(0.97);
}

.wrapper .portfolio .p-third .catalog .see-more {
  opacity: 0;
  z-index: 2;
  box-shadow: 35px -25px 25px rgba(0, 0, 0, 0.3), 0px 0px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  background: white;
  grid-column: 1 / span 2;
}

.wrapper .portfolio .p-third .catalog .see-more:hover {
  box-shadow: 30px -20px 20px rgba(0, 0, 0, 0.3), 0px 0px 25px rgba(0, 0, 0, 0.5);
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -o-transform: scale(1.03);
}

.wrapper .portfolio .p-third .catalog .see-more:active {
  transform: scale(0.97);
  -webkit-transform: scale(0.97);
  -moz-transform: scale(0.97);
  -o-transform: scale(0.97);
}

.wrapper .portfolio .p-third .catalog .see-more a {
  display: block;
  text-decoration: none;
  font-size: 2em;
  text-align: center;
  width: 100%;
  height: 100%;
  color: #2a9c37;
  margin: 0;
  padding-top: 7px;
}

.wrapper .portfolio .p-third .catalog .see-more a:link {
  color: #2a9c37;
}

.wrapper .portfolio .p-third .catalog .see-more a:visited {
  color: #2a9c37;
}

.wrapper .portfolio .p-third .catalog .see-more a:active {
  color: #2a9c37;
}

.wrapper .social {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.wrapper .social .s-first {
  grid-row: 3 / span 6;
  grid-column: 2 / span 5;
  z-index: 1;
  box-shadow: 0px 30px 40px -15px rgba(0, 0, 0, 0.5), 0px 0px 15px rgba(0, 0, 0, 0.2);
  background: url(../img/blank2.jpg) center center no-repeat;
  background-size: center;
}

.wrapper .social .s-first .fake-placeholder {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
}

.wrapper .social .s-first .fake-placeholder .email {
  color: white;
  display: block;
  text-align: center;
  margin: auto;
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
}

.wrapper .social .s-first .fake-placeholder .instagram {
  color: white;
  display: block;
  text-align: center;
  margin: auto;
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
}

.wrapper .social .s-first .fake-placeholder .github {
  color: white;
  display: block;
  text-align: center;
  margin: auto;
  grid-row: 1 / span 1;
  grid-column: 3 / span 1;
}

.wrapper .social .s-second {
  z-index: 10;
  background: url(../img/social.png) center center no-repeat;
  background-size: contain;
  grid-row: 6 / span 5;
  grid-column: 4 / span 6;
}

.wrapper .social .s-third {
  grid-row: 3 / span 4;
  grid-column: 3 / span 5;
  z-index: 5;
}

.wrapper .social .s-third .buttons {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
}

.wrapper .social .s-third .buttons .email {
  opacity: 0;
  text-shadow: -25px 35px 25px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  display: block;
  text-align: center;
  margin: auto;
  grid-row: 1 / span 1;
  grid-column: 1 / span 1;
}

.wrapper .social .s-third .buttons .email a {
  color: #F14336;
}

.wrapper .social .s-third .buttons .email a:link {
  color: #F14336;
}

.wrapper .social .s-third .buttons .email a:visited {
  color: #F14336;
}

.wrapper .social .s-third .buttons .email a:active {
  color: #F14336;
}

.wrapper .social .s-third .buttons .email:hover {
  text-shadow: -15px 25px 25px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -o-transform: scale(1.03);
}

.wrapper .social .s-third .buttons .email:active {
  transform: scale(0.97);
  -webkit-transform: scale(0.97);
  -moz-transform: scale(0.97);
  -o-transform: scale(0.97);
}

.wrapper .social .s-third .buttons .instagram {
  opacity: 0;
  text-shadow: -25px 35px 25px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  display: block;
  text-align: center;
  margin: auto;
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
}

.wrapper .social .s-third .buttons .instagram a {
  color: #E2306C;
}

.wrapper .social .s-third .buttons .instagram a:link {
  color: #E2306C;
}

.wrapper .social .s-third .buttons .instagram a:visited {
  color: #E2306C;
}

.wrapper .social .s-third .buttons .instagram a:active {
  color: #E2306C;
}

.wrapper .social .s-third .buttons .instagram:hover {
  text-shadow: -15px 25px 25px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -o-transform: scale(1.03);
}

.wrapper .social .s-third .buttons .instagram:active {
  transform: scale(0.97);
  -webkit-transform: scale(0.97);
  -moz-transform: scale(0.97);
  -o-transform: scale(0.97);
}

.wrapper .social .s-third .buttons .github {
  opacity: 0;
  text-shadow: -25px 35px 25px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  display: block;
  text-align: center;
  margin: auto;
  grid-row: 1 / span 1;
  grid-column: 3 / span 1;
}

.wrapper .social .s-third .buttons .github a {
  color: #171515;
}

.wrapper .social .s-third .buttons .github a:link {
  color: #171515;
}

.wrapper .social .s-third .buttons .github a:visited {
  color: #171515;
}

.wrapper .social .s-third .buttons .github a:active {
  color: #171515;
}

.wrapper .social .s-third .buttons .github:hover {
  text-shadow: -15px 25px 25px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -o-transform: scale(1.03);
}

.wrapper .social .s-third .buttons .github:active {
  transform: scale(0.97);
  -webkit-transform: scale(0.97);
  -moz-transform: scale(0.97);
  -o-transform: scale(0.97);
}

.wrapper .social .follow-me {
  box-shadow: 0px 30px 40px -15px rgba(0, 0, 0, 0.5), 0px 0px 15px rgba(0, 0, 0, 0.2);
  z-index: 4;
  grid-row: 2 / span 2;
  grid-column: 1 / span 2;
  background: white;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper .social .follow-me h2 {
  color: #F4D40D;
  text-align: center;
}

@keyframes bounceInRight {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    transform: translate3d(10px, 0, 0);
  }
  90% {
    transform: translate3d(-5px, 0, 0);
  }
  to {
    opacity: 1;
  }
}

@keyframes bounceInLeft {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }
  75% {
    transform: translate3d(-10px, 0, 0);
  }
  90% {
    transform: translate3d(5px, 0, 0);
  }
  to {
    opacity: 1;
  }
}

@keyframes cutOut {
  0% {
    grid-row: 3 / span 6;
    grid-column: 2 / span 6;
    text-shadow: none;
  }
  50% {
    text-shadow: -25px 35px 25px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  100% {
    grid-row: 3 / span 4;
    grid-column: 3 / span 6;
  }
}

@media (min-width: 319px) and (max-width: 425px) {
  body {
    margin: 10px;
  }
  .wrapper {
    padding: 5px;
  }
  .wrapper .about .a-first {
    grid-row: 2 / span 7;
    grid-column: 1 / span 10;
  }
  .wrapper .about .a-second {
    grid-row: 1 / span 2;
    grid-column: 1 / span 12;
  }
  .wrapper .about .a-third {
    grid-row: 8 / span 4;
    grid-column: 4 / span 9;
    line-height: 1.2em;
  }
  .wrapper .portfolio .p-first {
    grid-row: 3 / span 7;
    grid-column: 3 / span 11;
  }
  .wrapper .portfolio .p-second {
    grid-row: 2 / span 2;
    grid-column: 1 / span 10;
  }
  .wrapper .portfolio .p-third {
    grid-row: 4 / span 7;
    grid-column: 1 / span 11;
  }
  .wrapper .social .s-first {
    grid-row: 3 / span 6;
    grid-column: 1 / span 11;
  }
  .wrapper .social .s-second {
    grid-row: 7 / span 3;
    grid-column: 2 / span 11;
  }
  .wrapper .social .s-third {
    grid-row: 2 / span 6;
    grid-column: 2 / span 11;
  }
  .wrapper .social .follow-me {
    grid-row: 2 / span 2;
    grid-column: 2 / span 6;
  }
  .wrapper .social .follow-me .container {
    font-size: 0.6em;
  }
}

@media (min-width: 425px) and (max-width: 768px) {
  body {
    margin: 20px;
  }
  .wrapper .about .a-first {
    grid-row: 2 / span 6;
    grid-column: 2 / span 9;
  }
  .wrapper .about .a-second {
    grid-row: 1 / span 2;
    grid-column: 5 / span 8;
  }
  .wrapper .about .a-third {
    grid-row: 7 / span 3;
    grid-column: 6 / span 6;
    line-height: 1.2em;
    overflow-y: scroll;
  }
  .wrapper .portfolio .p-first {
    grid-row: 2 / span 6;
    grid-column: 3 / span 9;
  }
  .wrapper .portfolio .p-second {
    grid-row: 1 / span 2;
    grid-column: 1 / span 8;
  }
  .wrapper .portfolio .p-third {
    grid-row: 3 / span 6;
    grid-column: 2 / span 9;
  }
  .wrapper .social .s-first {
    grid-row: 3 / span 6;
    grid-column: 1 / span 11;
  }
  .wrapper .social .s-second {
    grid-row: 7 / span 3;
    grid-column: 2 / span 11;
  }
  .wrapper .social .s-third {
    grid-row: 2 / span 6;
    grid-column: 2 / span 11;
  }
  .wrapper .social .follow-me {
    grid-row: 2 / span 2;
    grid-column: 2 / span 6;
  }
}

@media (min-width: 769px) and (max-width: 1125px) {
  body {
    margin: 20px;
  }
  .wrapper .about .a-first {
    grid-row: 2 / span 6;
    grid-column: 2 / span 9;
  }
  .wrapper .about .a-second {
    grid-row: 1 / span 2;
    grid-column: 5 / span 8;
  }
  .wrapper .about .a-third {
    grid-row: 7 / span 3;
    grid-column: 7 / span 5;
    line-height: 1.2em;
    overflow-y: hidden;
  }
  .wrapper .portfolio .p-first {
    grid-row: 2 / span 6;
    grid-column: 3 / span 9;
  }
  .wrapper .portfolio .p-second {
    grid-row: 1 / span 2;
    grid-column: 1 / span 8;
  }
  .wrapper .portfolio .p-third {
    grid-row: 3 / span 6;
    grid-column: 2 / span 9;
  }
  .wrapper .social .s-first {
    grid-row: 3 / span 6;
    grid-column: 1 / span 9;
  }
  .wrapper .social .s-second {
    grid-row: 7 / span 3;
    grid-column: 2 / span 11;
  }
  .wrapper .social .s-third {
    grid-row: 2 / span 6;
    grid-column: 2 / span 9;
  }
  .wrapper .social .follow-me {
    grid-row: 2 / span 2;
    grid-column: 2 / span 4;
  }
}
/*# sourceMappingURL=style.css.map */