body
	font-family: 'Quattrocento', serif
	margin: 25px	

=make-grid
	display: grid
	grid-template-columns: repeat(12, 1fr)
	grid-template-rows: repeat(12, 1fr)

=basic-box-shadow
	box-shadow: 0px 30px 40px -15px rgba(0, 0, 0, 0.5), 0px 0px 15px rgba(0,0,0,0.2)

=effect-shadow-portfolio
	box-shadow: 35px -25px 25px rgba(0, 0, 0, 0.3),  0px 0px 10px rgba(0,0,0,0.2)

=effect-shadow-social
	text-shadow: -25px 35px 25px rgba(0, 0, 0, 0.5),  0px 0px 10px rgba(0,0,0,0.5)

=border-style
	border: 5px solid #111111

=pointer
	cursor: pointer	


.bounceInRight
	opacity: 1 
	animation-name: bounceInRight 
	animation-duration: 1s 
	animation-fill-mode: both

.bounceInLeft
	opacity: 1 !important
	animation-name: bounceInLeft
	animation-duration: 1s
  	animation-fill-mode: both

=scale-effect-portfolio
	transition: all 0.3s ease-in-out
	-webkit-transition: all 0.3s ease-in-out
	-moz-transition: all 0.3s ease-in-out
	-o-transition: all 0.3s ease-in-out
	&:hover
		box-shadow: 30px -20px 20px rgba(0, 0, 0, 0.3),  0px 0px 25px rgba(0,0,0,0.5)
		transform: scale(1.03)
		-webkit-transform: scale(1.03)
		-moz-transform: scale(1.03)
		-o-transform: scale(1.03)
	&:active
		transform: scale(0.97)
		-webkit-transform: scale(0.97)
		-moz-transform: scale(0.97)
		-o-transform: scale(0.97)

=scale-effect-social
	transition: all 0.3s ease-in-out
	-webkit-transition: all 0.3s ease-in-out
	-moz-transition: all 0.3s ease-in-out
	-o-transition: all 0.3s ease-in-out
	&:hover
		text-shadow: -15px 25px 25px rgba(0, 0, 0, 0.5),  0px 0px 10px rgba(0,0,0,0.5)
		transform: scale(1.03)
		-webkit-transform: scale(1.03)
		-moz-transform: scale(1.03)
		-o-transform: scale(1.03)
	&:active
		transform: scale(0.97)
		-webkit-transform: scale(0.97)
		-moz-transform: scale(0.97)
		-o-transform: scale(0.97)

=color-email
	a 
		color: #F14336
		&:link
			color: #F14336
		&:visited
			color: #F14336
		&:active
			color: #F14336

=color-github
	a 
		color: #171515
		&:link
			color: #171515
		&:visited
			color: #171515
		&:active
			color: #171515

=color-instagram
	a 
		color: #E2306C
		&:link
			color: #E2306C
		&:visited
			color: #E2306C
		&:active
			color: #E2306C

// Wrapper (Container)
.wrapper
	display: grid
	grid-template-columns: 100%
	grid-template-rows: repeat(3, 95vh)
	background:  url(../img/background.png) top center no-repeat, linear-gradient(#e5edf7,#ddf6e0,#f9f4d6)
	background-size: cover
	padding: 15px
	// About section
	.about
		+make-grid
		.a-first
			z-index: 1
			+basic-box-shadow
			background: url(../img/cosmin.jpg) center center no-repeat
			background-size: cover
			grid-row: 3 / span 8
			grid-column: 3 / span 7
		.a-second
			z-index: 2
			background: url(../img/name.png) center center no-repeat
			background-size: contain
			grid-row: 1 / span 5
			grid-column: 5 / span 6
			opacity: 0
		.a-third
			+basic-box-shadow
			z-index: 3		
			background: white
			grid-row: 6 / span 4
			grid-column: 8 / span 3
			text-align: center
			line-height: 1.5em
			letter-spacing: 2px
			margin: auto
			opacity: 0
			p
				max-height: 100%
			.about-header
				font-weight: 600
				color: #0078ff
			.about-text
				color: black
	// Portfolio Section
	.portfolio
		+make-grid
		.p-first
			z-index: 1
			+basic-box-shadow
			background: url(../img/blank1.jpg) center center no-repeat
			background-size: center
			grid-row: 3 / span 8
			grid-column: 5 / span 7
			.fake-placeholder
				padding: 10px
				height: 95%
				display: grid 
				grid-gap: 1em
				grid-template-rows: 1fr 1fr 50px 
				grid-template-columns: repeat(2, 1fr)
				.placeholder
					background: #EEE
				.see-more
					background: #EEE
					grid-column: 1 / span 2
		.p-second
			z-index: 10
			background: url(../img/portfolio.png) center center no-repeat
			background-size: contain
			grid-row: 1 / span 4
			grid-column: 7 / span 6
			
		.p-third
			z-index: 2
			grid-row: 4 / span 8
			grid-column: 4 / span 7
			.catalog
				padding: 10px
				height: 95%
				display: grid 
				grid-gap: 1em
				grid-template-rows: repeat(2, 1fr) 50px 
				grid-template-columns: repeat(2, 1fr)
				.p-one
					opacity: 0
					z-index: 4
					+effect-shadow-portfolio
					+scale-effect-portfolio
					background: url(../img/neighbourhood.png) top center no-repeat
					background-size: cover
				.p-two
					opacity: 0
					z-index: 4			
					+effect-shadow-portfolio
					+scale-effect-portfolio
					background: url(../img/memory.png) top center no-repeat
					background-size: cover
				.p-three
					opacity: 0
					z-index: 3
					+effect-shadow-portfolio
					+scale-effect-portfolio
					background: url(../img/arcade.png) top center no-repeat
					background-size: cover
				.p-four
					opacity: 0
					z-index: 3
					+effect-shadow-portfolio
					+scale-effect-portfolio
					background: url(../img/testing.png) left center no-repeat
					background-size: cover
				.see-more
					opacity: 0
					z-index: 2
					+effect-shadow-portfolio
					+pointer
					+scale-effect-portfolio
					background: white
					grid-column: 1 / span 2
					
					a
						display: block
						text-decoration: none
						font-size: 2em
						text-align: center
						width: 100%
						height: 100%
						color: rgb(42, 156, 55)
						margin: 0
						padding-top: 7px
						&:link
							color: rgb(42, 156, 55)
						&:visited
							color: rgb(42, 156, 55)
						&:active
							color: rgb(42, 156, 55)
	.social
		+make-grid
		.s-first
			grid-row: 3 / span 6
			grid-column: 2 / span 5
			z-index: 1
			+basic-box-shadow
			background: url(../img/blank2.jpg) center center no-repeat
			background-size: center
			.fake-placeholder
				height: 100%
				display: grid
				grid-template-rows: 1fr
				grid-template-columns: repeat(3, 1fr)
				.email
					color: white
					display: block
					text-align: center
					margin: auto					
					grid-row: 1 / span 1
					grid-column: 1 / span 1
				.instagram
					color: white				
					display: block				
					text-align: center
					margin: auto					
					grid-row: 1 / span 1
					grid-column: 2 / span 1
				.github
					color: white
					display: block
					text-align: center
					margin: auto					
					grid-row: 1 / span 1
					grid-column: 3 / span 1
				
		.s-second
			z-index: 10
			background: url(../img/social.png) center center no-repeat
			background-size: contain
			grid-row: 6 / span 5
			grid-column: 4 / span 6
		.s-third
			grid-row: 3 / span 4
			grid-column: 3 / span 5
			z-index: 5
			.buttons
				height: 100%
				display: grid
				grid-template-rows: 1fr
				grid-template-columns: repeat(3, 1fr)
				.email
					opacity: 0
					+effect-shadow-social
					+color-email
					+scale-effect-social
					display: block
					text-align: center
					margin: auto					
					grid-row: 1 / span 1
					grid-column: 1 / span 1
				.instagram
					opacity: 0
					+effect-shadow-social
					+color-instagram
					+scale-effect-social
					display: block				
					text-align: center
					margin: auto					
					grid-row: 1 / span 1
					grid-column: 2 / span 1
				.github
					opacity: 0
					+effect-shadow-social
					+color-github
					+scale-effect-social
					display: block
					text-align: center
					margin: auto					
					grid-row: 1 / span 1
					grid-column: 3 / span 1
		.follow-me
			+basic-box-shadow
			z-index: 4
			grid-row: 2 / span 2
			grid-column: 1 / span 2
			background: white
			height: 100%
			display: flex
			align-items: center
			justify-content: center
			h2
				color: #F4D40D
				text-align: center
// ANIMATIONS
@keyframes bounceInRight 
  	from, 60%, 75%, 90%, to 
    	animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)
  	from 
    	opacity: 0
    	transform: translate3d(3000px, 0, 0)
  	60% 
    	opacity: 1
    	transform: translate3d(-25px, 0, 0)
  	75% 
    	transform: translate3d(10px, 0, 0)
  	90% 
   		transform: translate3d(-5px, 0, 0)
  	to 
    	opacity: 1

@keyframes bounceInLeft 
  from, 60%, 75%, 90%, to 
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000)
  0% 
    opacity: 0
    transform: translate3d(-3000px, 0, 0)
  60% 
    opacity: 1
    transform: translate3d(25px, 0, 0)
  75% 
    transform: translate3d(-10px, 0, 0)
  90% 
    transform: translate3d(5px, 0, 0)
  to 
    opacity: 1

@keyframes cutOut
	0%
		grid-row: 3 / span 6
		grid-column: 2 / span 6
		text-shadow: none
	50%
		+effect-shadow-social
	100%
		grid-row: 3 / span 4
		grid-column: 3 / span 6


// MEDIA QUERIES
@media (min-width: 319px) and (max-width: 425px)
	body 
		margin: 10px

	.wrapper
		padding: 5px
		.about
			.a-first
				grid-row: 2 / span 7 
				grid-column: 1 / span 10 
			.a-second
				grid-row: 1 / span 2 
				grid-column: 1 / span 12
			.a-third
				grid-row: 8 / span 4
				grid-column: 4 / span 9
				line-height: 1.2em
		.portfolio
			.p-first
				grid-row: 3 / span 7
				grid-column: 3 / span 11 
			.p-second
				grid-row: 2 / span 2 
				grid-column: 1 / span 10 
			.p-third
				grid-row: 4 / span 7 
				grid-column: 1 / span 11 
		.social
			.s-first
				grid-row: 3 / span 6
				grid-column: 1 / span 11
			.s-second
				 grid-row: 7 / span 3
				 grid-column: 2 / span 11
			.s-third
				grid-row: 2 / span 6
				grid-column: 2 / span 11
			.follow-me
				grid-row: 2 / span 2
				grid-column: 2 / span 6
				.container
					font-size: 0.6em

@media (min-width: 425px) and (max-width: 768px)
	body 
		margin: 20px

	.wrapper
		.about
			.a-first
				grid-row: 2 / span 6
				grid-column: 2 / span 9
			.a-second
				grid-row: 1 / span 2 
				grid-column: 5 / span 8
			.a-third
				grid-row: 7 / span 3
				grid-column: 6 / span 6
				line-height: 1.2em
				overflow-y: scroll
		.portfolio
			.p-first
				grid-row: 2 / span 6
				grid-column: 3 / span 9
			.p-second
				grid-row: 1 / span 2 
				grid-column: 1 / span 8 
			.p-third
				grid-row: 3 / span 6 
				grid-column: 2 / span 9 
		.social
			.s-first
				grid-row: 3 / span 6
				grid-column: 1 / span 11
			.s-second
				 grid-row: 7 / span 3
				 grid-column: 2 / span 11
			.s-third
				grid-row: 2 / span 6
				grid-column: 2 / span 11
			.follow-me
				grid-row: 2 / span 2
				grid-column: 2 / span 6

@media (min-width: 769px) and (max-width: 1125px)
	body 
		margin: 20px

	.wrapper
		.about
			.a-first
				grid-row: 2 / span 6
				grid-column: 2 / span 9
			.a-second
				grid-row: 1 / span 2 
				grid-column: 5 / span 8
			.a-third
				grid-row: 7 / span 3
				grid-column: 7 / span 5
				line-height: 1.2em
				overflow-y: hidden
		.portfolio
			.p-first
				grid-row: 2 / span 6
				grid-column: 3 / span 9
			.p-second
				grid-row: 1 / span 2 
				grid-column: 1 / span 8 
			.p-third
				grid-row: 3 / span 6 
				grid-column: 2 / span 9 
		.social
			.s-first
				grid-row: 3 / span 6
				grid-column: 1 / span 9
			.s-second
				 grid-row: 7 / span 3
				 grid-column: 2 / span 11
			.s-third
				grid-row: 2 / span 6
				grid-column: 2 / span 9
			.follow-me
				grid-row: 2 / span 2
				grid-column: 2 / span 4

